<nav class="nav @@class-nav">
    <a class="nav__link-item link-text @@class-link-item" href="/#about">
        О нас
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        Виды массажа
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        Команда
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        Спец. условия
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        Рекомендации
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        FAQ
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="">
        Документы
    </a>
</nav>