<nav class="nav @@class-nav">
    <a class="nav__link-item link-text @@class-link-item" href="/#about">
        О нас
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#types-massage">
        Виды массажа
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#team">
        Команда
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#conditions">
        Спец. условия
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#recomendation">
        Рекомендации
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#faq">
        FAQ
    </a>
    <a class="nav__link-item link-text @@class-link-item" href="/#documents">
        Документы
    </a>
</nav>