<section id="about" class="clients page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'О нас',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    <span class="primary-color">Мы&nbsp;специализируется на&nbsp;организации корпоративного массажа </span>с&nbsp;выездом в&nbsp;офис или мероприятие, чтобы&nbsp;вы, ваши сотрудники или гости могли расслабиться и&nbsp;восстановить силы
                </h2>

                <div class="grid-wrap banner-wrapper__two">
                    <div class="rounded-5 bg-03 p-3 p-sm-4">
                        <div class="about__icon">
                            <img loading="lazy" alt="Гарантируем качество" class="lazy" data-src="@img/trophy-icon.png"/>
                        </div>
                        <h3 class="h3 primary-color mb-1">
                            Гарантируем качество
                        </h3>
                        <p>
                            Наши массажисты регулярно проходят курсы повышения квалификации, что позволяет профессионально делать массаж
                        </p>
                    </div>
    
                    <div class="rounded-5 bg-03 p-3 p-sm-4">
                        <div class="about__icon">
                            <img loading="lazy" alt="Подстраиваемся под ваш график" class="lazy" data-src="@img/calendar-icon.png"/>
                        </div>
                        <h3 class="h3 primary-color mb-1">
                            Подстраиваемся под ваш график
                        </h3>
                        <p>
                            Готовы приехать практически 24/7, чтобы сотрудники могли расслабится и&nbsp;отвлечься от&nbsp;тяжелых нагрузок в&nbsp;любой подходящий момент
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>