<div class="breadcrums page-section pt-5">
    <div class="container">
        <div class="breadcrums__wrapper">
            <a class="mr-3 nav-link-text breadcrums__link" href="/" target="_self">
                Главная
            </a>
            <span class="mr-3 nav-link-text breadcrums__link">/</span>
            <a class="mr-3 breadcrums__link @@class-link-1" href="@@href-link-1" target="_self">
                @@text-link-1
            </a>
            <span class="mr-3 nav-link-text breadcrums__link @@class-slash-2">/</span>
            <a class="nav-link-text breadcrums__link @@class-link-2" href="/" target="_self">
                @@text-link-2
            </a>
        </div>
    </div>
</div>