@import '../../common/files/variables.scss';

.conditions {
    &__grid-wrap.grid-wrap.banner-wrapper__two {
        gap: 8px;

        @media screen and (min-width: 1200px) {
            gap: 24px;
        }
    }

    &__btn {
        z-index: 1;
        max-width: fit-content;
    }
    


    &__individual-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        background-image: url('../img/condition-gift.svg');
        background-repeat: no-repeat;
        background-size: 200px 117px;
        background-position: right bottom;
        min-height: 198px;

        @media screen and (min-width: 1200px) {
            min-height: auto;
            background-size: auto;
        }

        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            
            width: 100%;
            height: 170px;
        }
    }

    &__grid-info {
        display: grid;
        gap: 8px;
    }
}