<section id="gallery" class="gallery page-section">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Галерея',
                    'badge-class': ''
                })
            </div>
    
            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Фрагменты в&nbsp;фотографиях о&nbsp;том, как проходит корпоративный массаж
                </h2>
            </div>
        </div>
    </div>
</section>

<div>
    <div class="running-line__items-wrap">
        <div class="running-line__items gallery__items marquee reverce">
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-01.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-01.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-02.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-02.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-03.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-03.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-04.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-04.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-05.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-05.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-06.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-06.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-01.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-01.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-02.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-02.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-03.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-03.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-04.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-04.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-05.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-05.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-06.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-06.jpg"/>
            </a>
        </div>
        <div aria-hidden="true" class="running-line__items gallery__items marquee reverce">
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-01.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-01.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-02.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-02.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-03.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-03.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-04.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-04.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-05.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-05.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-06.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-06.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-01.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-01.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-02.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-02.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-03.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-03.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-04.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-04.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-05.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-05.jpg"/>
            </a>
            <a class="running-line__item gallery__item" 
                data-fancybox="gallery"
                href="@img/gallery/gallery-card-img-06.jpg">
                <img class="gallery__item-img" alt="Фото" src="@img/gallery/gallery-card-img-06.jpg"/>
            </a>
        </div>
    </div>
</div>