<section id="blog" class="blog page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Блог',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Делимся информацией, рассказываем полезное и&nbsp;интересное
                </h2>
            </div>
        </div>

        <div class="swiper blog__swiper">
            <div class="swiper-wrapper blog__swiper-wrapper">
                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Тейпирование и массаж на марафоне" 
                        data-src="@img/blog-card-01.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Тейпирование и&nbsp;массаж на&nbsp;марафоне</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Корпоративный массаж на аутсорсе" 
                        data-src="@img/blog-card-02.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Корпоративный массаж на&nbsp;аутсорсе</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Массаж рук. Преимущества и польза" 
                        data-src="@img/blog-card-03.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Массаж рук. Преимущества и&nbsp;польза</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Массаж на стуле. Общие принципы" 
                        data-src="@img/blog-card-01.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Массаж на&nbsp;стуле. Общие принципы</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Массаж всего тела. Как правильно делать" 
                        data-src="@img/blog-card-01.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Массаж всего тела. Как правильно делать</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog__slide">
                    <img class="lazy blog__slide-img" 
                        loading="lazy" 
                        alt="Спортивный массаж. Чем полезен" 
                        data-src="@img/blog-card-01.png" />
                    <div class="blog__slide-info p-3 p-sm-4">
                        <div>
                            <div class="blog__slide-info-title mb-3">
                                <h4 class="h4">Спортивный массаж. Чем полезен</h4>
                            </div>
                        </div>
                        
                        <a href="/" class="btn nav-link-text btn__link primary-color">
                            Узнать условия
                        </a>
                    </div>
                </div>

            </div>
            <div class="blog__slide-pagination-wrapper mt-3 mt-sm-6 mb-4 mb-sm-3">
                <div class="swiper-pagination"></div>
            </div>
            <div class="blog__slide-controller-buttons mb-6">
                <div class="blog__slide-controller-wrapper">
                    <button type="button" class="btn btn-01-text btn-secondary blog__swiper-button-prev mr-4">
                        <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.80873 6.97772L8.29745 1.0535L7.16546 0L0 7.73401L7.14777 16L8.31513 14.986L2.72898 8.52596H36V6.97772H2.80873Z" fill="#1D1D1F"/>
                        </svg> 
                    </button>
                    <button type="button" class="btn btn-01-text btn-secondary blog__swiper-button-next">
                        <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.1913 6.97772L27.7026 1.0535L28.8345 0L36 7.73401L28.8522 16L27.6849 14.986L33.271 8.52596H0V6.97772H33.1913Z" fill="#1D1D1F"/>
                        </svg>
                    </button>
                </div>
                <a href="../../../blog-page.html" class="btn btn-01-text btn-secondary blog__btn-all">
                    Все статьи
                </a>
            </div>
        </div>
    </div>
</section>