<div class="mt-6 mb-6">
    <div class="running-line__items-wrap">
        <div class="running-line__items marquee">
            <div class="running-line__item running-line-text primary-color">
                Расслабление   
            </div>
            <div class="running-line__item running-line-text primary-color">
                ·
            </div>
            <div class="running-line__item running-line-text primary-color">
                Тонус
            </div>
            <div class="running-line__item running-line-text primary-color">
                · 
            </div>
            <div class="running-line__item running-line-text primary-color">
                Энергия 
            </div>
            <div class="running-line__item running-line-text primary-color">
                · 
            </div>
        </div>
        <div class="running-line__items marquee">
            <div class="running-line__item running-line-text primary-color">
                Расслабление   
            </div>
            <div class="running-line__item running-line-text primary-color">
                ·
            </div>
            <div class="running-line__item running-line-text primary-color">
                Тонус
            </div>
            <div class="running-line__item running-line-text primary-color">
                · 
            </div>
            <div class="running-line__item running-line-text primary-color">
                Энергия 
            </div>
            <div class="running-line__item running-line-text primary-color">
                · 
            </div>
        </div>
    </div>
</div>