<section id="recomendation" class="recomendation page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Рекомендации',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Мы&nbsp;успели поработать со&nbsp;множеством компаний и&nbsp;на&nbsp;разных мероприятиях, 
                    посмотрите что они о&nbsp;нас говорят
                </h2>
                <div class="grid-wrap banner-wrapper__two recomendation__grid-wrap">
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-01.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-braininglab-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-02.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-diving-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-01.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-vkgroup-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-02.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-angara-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-01.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-brok-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-02.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-vdnh-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-01.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-ashan-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>
                    <a class="recomendation__grid-item rounded-4 bg-03 pl-3 pt-3 pr-3 pb-3 pl-sm-4 pr-sm-4" 
                        data-fancybox="gallery-files" 
                        data-type="pdf" 
                        href="./files/file-02.pdf">
                        <img class="lazy"
                            alt="клиент" 
                            loading="lazy" 
                            alt="Гарантируем качество"  
                            data-src="@img/client-alpha-img.svg"/>

                        <div class="recomendation__grid-item-text">
                            <span class="text-small text-02-color mr-3">PDF</span>
                            <span class="btn btn-link nav-link-text primary-color">Читать</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

