<section class="clients page-section">
    <div class="container">
        <div class="clients__wrapper">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Клиенты',
                    'badge-class': ''
                })
            </div>
    
            <div class="primary-color clients__count">
                500+
            </div>
        </div>
    </div>
</section>

<div>
    <div class="running-line__items-wrap">
        <div class="running-line__items marquee">
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-akgharman-img.svg" />
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-anvio-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-braininglab-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-vkgroup-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-crutizna-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-diving-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-angara-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-eventum-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-ashan-img.svg"/>
            </div>
        </div>
        <div class="running-line__items marquee">
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-akgharman-img.svg" />
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-anvio-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-braininglab-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-vkgroup-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-crutizna-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-diving-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-angara-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-eventum-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-ashan-img.svg"/>
            </div>
        </div>
    </div>
    <div class="running-line__items-wrap">
        <div class="running-line__items marquee reverce">
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-admos-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-boost-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-world-skills-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-brok-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-back2work-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-whirlpool-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-warnermusicgroup-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-vdnh-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-alpha-img.svg"/>
            </div>
        </div>
        <div aria-hidden="true" class="running-line__items marquee reverce">
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-admos-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-boost-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-world-skills-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-brok-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-back2work-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-whirlpool-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-warnermusicgroup-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-vdnh-img.svg"/>
            </div>
            <div class="running-line__item">
                <img alt="клиент" src="@img/client-alpha-img.svg"/>
            </div>
        </div>
    </div>
</div>