<div class="form-success">
    <h6 class="text-01-color modal-window__title modal-window__title-success text-center mb-1 mb-sm-1">
        Ваша заявка отправлена
    </h6>
    <div class="text-01-color text-center paragraph mb-4 mb-sm-5">
        В&nbsp;скором времени с&nbsp;вами свяжется наш менеджер для уточнения деталей
    </div>
    <div class="form__btn-action-wrapper">
        @@include('../../UI/files/button.html', {
            'class-btn': 'btn-primary form__btn bg-primary text-05-color form__btn-action form__btn-action-success',
            'text': 'Отлично',
            'type-btn': 'button'
        })
    </div>
</div>
