<section id="team" class="team page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Команда',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    <span class="primary-color">Побираем массажистов исключительно под ваш запрос. </span>При заключении договора от&nbsp;месяца, мы&nbsp;можем закрепить определенного специалиста за&nbsp;вами, а&nbsp;при желании вы&nbsp;можете всегда заменить на&nbsp;другого
                </h2>

                @@include('../../UI/files/button.html', {
                    'class-btn': 'btn-01-text btn-primary team__btn modal-window__btn-open',
                    'text': 'Подобрать массажиста',
                    'type-btn': 'button'
                })
            </div>
        </div>

        <div class="swiper team__swiper">
            <div class="swiper-wrapper team__swiper-wrapper">
                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-01.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Елена Фирсова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-02.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Сетлана Климова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-03.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Елизавета Шишкина</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-04.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Евгения Михалова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-01.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Елена Фирсова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-02.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Сетлана Климова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-03.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Елизавета Шишкина</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-04.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Евгения Михалова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>

                <div class="swiper-slide team__slide">
                    
                    <div class="team__slide-img-wrapper mb-3 mb-sm-4">
                        <img class="lazy team__slide-img" 
                            loading="lazy" 
                            alt="Классический массаж на массажном столе" 
                            data-src="@img/team-card-01.png" />
                    </div>
                    <h4 class="h4 text-01-color mb-1">Елена Фирсова</h4>
                    <div class="nav-link-text text-02-color">
                        <span>6 лет стажа</span>
                    </div>
                </div>
            </div>
            <div class="mt-6 team__slide-pagination-wrapper mb-3">
                <div class="team__swiper-pagination"></div>
            </div>
            <div class="team__slide-controller-wrapper mb-6">
                <div class="btn btn-01-text btn-secondary team__swiper-button-prev">
                    <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.80873 6.97772L8.29745 1.0535L7.16546 0L0 7.73401L7.14777 16L8.31513 14.986L2.72898 8.52596H36V6.97772H2.80873Z" fill="#1D1D1F"/>
                    </svg> 
                </div>
                <div class="btn btn-01-text btn-secondary team__swiper-button-next">
                    <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.1913 6.97772L27.7026 1.0535L28.8345 0L36 7.73401L28.8522 16L27.6849 14.986L33.271 8.52596H0V6.97772H33.1913Z" fill="#1D1D1F"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

