<section id="faq" class="faq page-section">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'FAQ',
                    'badge-class': ''
                })
            </div>
    
            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Отвечаем на&nbsp;часто задаваемые вопросы
                </h2>

                <div class="faq__content">
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3 class="h5">
                                Сколько времени длится сеанс массажа?
                            </h3>
                            
                            <button type="button" class="btn faq__btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7947 4.22925L7.96601 7.05725L5.13801 4.22925L4.19534 5.17191L7.02334 7.99991L4.19534 10.8279L5.13801 11.7706L7.96601 8.94258L10.7947 11.7706L11.7373 10.8279L8.90934 7.99991L11.7373 5.17191L10.7947 4.22925Z" fill="#1D1D1F"/>
                                </svg>
                            </button>
                        </div>
                        <div class="faq__item-bottom">
                            <p class="faq__item-bottom-content">
                                Длительность сеанса массажа варьируется в&nbsp;зависимости от&nbsp;запросов и&nbsp;потребностей 
                                работника. Обычно мы&nbsp;предлагаем сеансы длительностью 15&nbsp;минут. Однако мы&nbsp;также 
                                организовываем более продолжительные сеансы при необходимости.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3 class="h5">
                                Где проходит массаж? 
                            </h3>
                            
                            <button type="button" class="btn faq__btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7947 4.22925L7.96601 7.05725L5.13801 4.22925L4.19534 5.17191L7.02334 7.99991L4.19534 10.8279L5.13801 11.7706L7.96601 8.94258L10.7947 11.7706L11.7373 10.8279L8.90934 7.99991L11.7373 5.17191L10.7947 4.22925Z" fill="#1D1D1F"/>
                                </svg>
                            </button>
                        </div>
                        <div class="faq__item-bottom">
                            <p class="faq__item-bottom-content">
                                Буквально где угодно: наши специалисты из&nbsp;любого рабочего кресла или другой поверхности, 
                                на&nbsp;которой можно лежать или сидеть, сделают место для проведения профессионального массажа.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3 class="h5">
                                Как проходит массаж? 
                            </h3>
                            
                            <button type="button" class="btn faq__btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7947 4.22925L7.96601 7.05725L5.13801 4.22925L4.19534 5.17191L7.02334 7.99991L4.19534 10.8279L5.13801 11.7706L7.96601 8.94258L10.7947 11.7706L11.7373 10.8279L8.90934 7.99991L11.7373 5.17191L10.7947 4.22925Z" fill="#1D1D1F"/>
                                </svg>
                            </button>
                        </div>
                        <div class="faq__item-bottom">
                            <p class="faq__item-bottom-content">
                                Массаж может выполняться как через одежду, так и&nbsp;с&nbsp;нанесением специального масла 
                                в&nbsp;зависимости от&nbsp;типа массажа и&nbsp;предпочтений клиента.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3 class="h5">
                                Какое колличество сотрудников может быть во&nbsp;время сеанса?
                            </h3>
                            
                            <button type="button" class="btn faq__btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7947 4.22925L7.96601 7.05725L5.13801 4.22925L4.19534 5.17191L7.02334 7.99991L4.19534 10.8279L5.13801 11.7706L7.96601 8.94258L10.7947 11.7706L11.7373 10.8279L8.90934 7.99991L11.7373 5.17191L10.7947 4.22925Z" fill="#1D1D1F"/>
                                </svg>
                            </button>
                        </div>
                        <div class="faq__item-bottom">
                            <p class="faq__item-bottom-content">
                                От&nbsp;1&nbsp;до &infin;. Но&nbsp;для корпоративных клиентов и&nbsp;крупных заказов мы&nbsp;предоставляем скидки!
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3 class="h5">
                                Как мы отбираем массажистов?
                            </h3>
                            
                            <button type="button" class="btn faq__btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.7947 4.22925L7.96601 7.05725L5.13801 4.22925L4.19534 5.17191L7.02334 7.99991L4.19534 10.8279L5.13801 11.7706L7.96601 8.94258L10.7947 11.7706L11.7373 10.8279L8.90934 7.99991L11.7373 5.17191L10.7947 4.22925Z" fill="#1D1D1F"/>
                                </svg>
                            </button>
                        </div>
                        <div class="faq__item-bottom">
                            <p class="faq__item-bottom-content">
                                Каждый массажист проходит строгий отбор, прежде чем присоединиться к&nbsp;нам. С&nbsp;каждым кандидатом мы&nbsp;проводим интервью, а&nbsp;при 
                                анализе портфолио смотрим на&nbsp;наличие сертификатов и&nbsp;опыта работы более 3-х лет.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>