@import '../../common/files/variables.scss';

.clients {
    margin-top: 32px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__count {
        font-size: 40px;
        font-weight: 500;

        @media screen and (min-width: 576px) {
            font-size: 76px;
        }
    }
}