<section id="conditions" class="conditions page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Специальные условия',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Предоставляем специальные условия при разовом заказе или заключении договора и&nbsp;оплате на&nbsp;несколько месяцев
                </h2>

                <div class="grid-wrap banner-wrapper__two conditions__grid-wrap">
                    <div class="p-3 p-sm-4 bg-03 rounded-5 conditions__individual-main">
                        <h3 class="h3 mb-4">
                            Индивидуальные условия при заказе 
                            <span class="primary-color">от&nbsp;4&nbsp;часов</span> 
                            и&nbsp;<span class="primary-color">более 3&nbsp;специалистов</span>
                        </h3>
                        @@include('../../UI/files/button.html', {
                            'class-btn': 'btn-01-text btn-primary conditions__btn modal-window__btn-open',
                            'text': 'Заказать',
                            'type-btn': 'button'
                        })
                        <!-- <div class="conditions__individual-main-img">

                        </div> -->
                        <!-- <img loading="lazy" alt="Гарантируем качество" class="lazy" data-src="@img/condition-gift.svg"/> -->
                    </div>
                    <div class="conditions__grid-info">
                        <div class="p-3 p-sm-4 bg-03 rounded-5">
                            <h4 class="h4 mb-1"><span class="primary-color">Скидка 5%</span></h4>
                            <span>При заключении договора и&nbsp;оплате на&nbsp;3&nbsp;месяца</span>
                        </div>
                        <div class="p-3 p-sm-4 bg-03 rounded-5">
                            <h4 class="h4 mb-1"><span class="primary-color">Скидка 7%</span></h4>
                            <span>При заключении договора и&nbsp;оплате на&nbsp;6&nbsp;месяцев</span>
                        </div>
                        <div class="p-3 p-sm-4 bg-03 rounded-5">
                            <h4 class="h4 mb-1"><span class="primary-color">Скидка 10%</span></h4>
                            <span>При заключении договора и&nbsp;оплате на&nbsp;12+&nbsp;месяцев</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

