<section class="blog-hero-banner page-section">
    <div class="container">
        <div class="blog-hero-banner__wrapper">
            <h1 class="h1 blog-hero-banner__h1 text-01-color">
                Блог  
            </h1>
        </div>
        <div class="grid-wrap banner-wrapper__three blog-hero-banner__grid-wrap">
            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Тейпирование и массаж на марафоне" 
                    data-src="@img/blog-card-01.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Тейпирование и&nbsp;массаж на&nbsp;марафоне</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>

            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Корпоративный массаж на аутсорсе" 
                    data-src="@img/blog-card-02.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Корпоративный массаж на&nbsp;аутсорсе</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>

            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Массаж на стуле. Общие принципы" 
                    data-src="@img/blog-card-03.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Массаж на&nbsp;стуле. Общие принципы</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>

            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Тейпирование и массаж на марафоне" 
                    data-src="@img/massage-card-2.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Тейпирование и&nbsp;массаж на&nbsp;марафоне</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>

            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Корпоративный массаж на аутсорсе" 
                    data-src="@img/massage-card-1.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Корпоративный массаж на&nbsp;аутсорсе</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>

            <div class="blog-hero-banner__slide">
                <img class="lazy blog-hero-banner__slide-img" 
                    loading="lazy" 
                    alt="Массаж рук. Преимущества и польза" 
                    data-src="@img/massage-card-3.png" />
                <div class="blog-hero-banner__slide-info p-3 p-sm-4">
                    <div>
                        <div class="blog-hero-banner__slide-info-title mb-3">
                            <h2 class="h4">Массаж рук. Преимущества и&nbsp;польза</h2>
                        </div>
                    </div>
                    
                    <a href="/" class="btn nav-link-text btn__link primary-color">
                        Читать
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

