<section id="types-massage" class="type-massage page-section pt-5">
    <div class="container">
        <div class="grid-wrap banner-wrapper__content mb-4 mb-sm-5">
            <div>
                @@include('../../UI/files/badge.html', {
                    'text': 'Виды массажа',
                    'badge-class': '',
                })
            </div>

            <div>
                <h2 class="h2 mb-4 mb-sm-5">
                    Сеансы корпоративного массажа помогут расслабиться и&nbsp;повысить продуктивность вашей команды
                </h2>
            </div>
        </div>

        <div class="swiper type-massage__swiper">
            <div class="swiper-wrapper type-massage__swiper-wrapper">
                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Классический массаж на массажном столе" 
                        data-src="@img/massage-card-1.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 30&nbsp;мин - 1&nbsp;час
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Классический массаж на массажном столе (кушетке)</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Массаж на стуле шейно воротниковой зоны" 
                        data-src="@img/massage-card-2.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 7&nbsp;мин - 30&nbsp;мин
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Массаж на&nbsp;стуле шейно воротниковой зоны</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Спортивный массаж" 
                        data-src="@img/massage-card-3.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 1&nbsp;час
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Спортивный массаж</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Индивидуальная программа в 4 руки" 
                        data-src="@img/massage-card-4.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 2&nbsp;ч
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Индивидуальная программа в&nbsp;4 руки</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Спортивный массаж" 
                        data-src="@img/massage-card-3.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 1&nbsp;час
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Спортивный массаж</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Массаж на стуле шейно воротниковой зоны" 
                        data-src="@img/massage-card-2.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 7&nbsp;мин - 30&nbsp;мин
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Массаж на&nbsp;стуле шейно воротниковой зоны</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Спортивный массаж" 
                        data-src="@img/massage-card-3.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 1&nbsp;час
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Спортивный массаж</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Индивидуальная программа в 4 руки" 
                        data-src="@img/massage-card-4.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 2&nbsp;ч
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Индивидуальная программа в&nbsp;4 руки</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Спортивный массаж" 
                        data-src="@img/massage-card-3.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 15&nbsp;мин - 1&nbsp;час
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Спортивный массаж</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                <div class="swiper-slide type-massage__slide">
                    <img class="lazy type-massage__slide-img" 
                        loading="lazy" 
                        alt="Массаж на стуле шейно воротниковой зоны" 
                        data-src="@img/massage-card-2.png" />
                    <div class="type-massage__slide-info p-3 p-sm-4">
                        <div>
                            <div class="type-massage__slide-info-time nav-link-text mb-1">
                                Время сеанса: 7&nbsp;мин - 30&nbsp;мин
                            </div>
                            <div class="type-massage__slide-info-title mb-3">
                                <h4 class="h4">Массаж на&nbsp;стуле шейно воротниковой зоны</h4>
                            </div>
                        </div>
                        
                        <button type="button" class="btn nav-link-text btn__link primary-color modal-window__btn-short-open">
                            Узнать условия
                        </button>
                    </div>
                </div>

                

                
            </div>
            <div class="mt-6 type-massage__slide-pagination-wrapper">
                <div class="swiper-pagination"></div>
            </div>
            
        </div>
    </div>
</section>

